


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-color: rgba(0, 0, 255, 0.4);
    padding: 0;

}

.dealerMoveDisplay,
.playerMoveDisplay {
    background-color: rgba(255,255,255,0.7);
    padding: 15px;
    width: 500px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0px 0px 0px;    
}

.gameDisplay {
    font-size: 30px;
    font-weight: bold;
}

.card {
    margin-top: -50px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    outline-style: inset;
    outline-color: rgba(0,0,0,0.6);

}


.playRock-image,
.playPaper-image,
.playScissors-image {
    width: 70px;   
    border-radius: 10px;
    padding:3px
}

.playPaper-btn:hover,
.playRock-btn:hover,
.playScissors-btn:hover {
    background-color: rgba(20, 20, 20, 0.5);
}

.reset-image {
    width: 40px;
    border-radius: 10px;
}



.btn-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
    align-items: center;

}

.btn-row button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn-row button .resetButton{
    width: 20px;
}

.gameDisplay {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.gameDisplayMidText {
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.joKenPo {
    position: absolute;
    display:flex;
    font-size: 60px;
    gap: 35px;
    justify-content: center;
    align-self: center;
    margin-left: 240px;
    flex-direction: row;
    visibility: hidden;
}

.winCountText,
.loseCountText {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 10px;
    width: 80px;
}

.card:hover,
.reset-image:hover {
    transform:scale(1.05);
    transition-duration: 0.5s;
}

.reset-image:hover {
    transition-duration: 4s;
    transform: rotate(-1440deg)
}